<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Private Events", root_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to root_path do %>
          <i class="fa fa-home">Home</i>
          <% end %>
        </li>
        <li><%= link_to event_path do %>
          <i class="fa fa-indent">Events</i>
          <% end %>
        </li>
        
          <% if logged_in? %>
          <li>
            <%= link_to logout_path, method: :delete do %>
            <i class="fa fa-sign-out">Logout</i>
            <% end %>
          </li>
          <% else %>
          <li>
          <%= link_to signup_path do %>
          <i class="fa fa-circle-o-notch">Sign up</i>
          <% end %>
          </li>
          <li>
          <%= link_to login_path do %>
          <i class="fa fa-sign-in">Login</i>
          <% end %>
          </li>
          <% end %>
      </ul>
    </div>
  </div>
</nav>